<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Programming has become gay</title>
</head>
<body>
    <h1>Fuck programming!</h1>

<form action="/login" method="post" enctype="multipart/form-data">
    <label>Username:</label>
    <input type="text" name="username" >
    <label>Password:</label>
    <input type="text" name="pwd">
    <!-- An element to toggle between password visibility -->
<input type="checkbox" onclick="myFunction()">Show Password
    <input type="submit" value="submit">
</form>



</body>
</html>